[Unit]
Description=Enable bluetooth on r8723bs
Requires=networking.service

[Service]
ExecStart=/root/hardware/bluetooth/rtl8723bs_bt/start_bt.sh
RemainAfterExit=yes
#Type=idle

[Install]
WantedBy=bluetooth.service
